# Especialização em Ciência de Dados - PUC-Rio
# Machine Learning
## Exercício 2: Problemas de Classificação



---


__Alunos:__ <br>
        Cícero Felipe Ricci Bressane <br>
        José Douglas Nascimento <br>
        Ronaldo Costa <br>
        Victor Mouffron Carvalho Machado

---

### Escolha um dataset simples para problemas de classificação diferente do usado em aula (preferencialmente do UCI Machine Learning Repository - https://archive.ics.uci.edu/ml/index.php) e treine os modelos de classificação  aprendidos em aula (Árvore de Classificação, KNN, Naive Bayes, SVM e Regressão Logística. ###

O dataset escolhido foi obtido no Kaggle no link: https://www.kaggle.com/c/titanic. Trata-se de um dataset com informações de passageiros do navio titanic em que cada linha representa um pasageiro e possui rótulo indicando se a pessoa sobriveveu ou não ao acidente.


__Vamos aplicar os modelos!__


![Titanic](img/titanic.jpg)

In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')
df = pd.read_csv('data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Vamos remover as variáveis __PassengerId__,__Name__,__Ticket__ e __Cabin__, pois nãos as utilizaremos na predição.

In [2]:
variables_to_drop = ['PassengerId','Name','Ticket','Cabin']
df.drop(variables_to_drop,axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

O campo "Age" possui dados faltantes, vamos preencher com a mediana e com o valor mais comum, respectivamente.

In [3]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

Agora vamos utilizar one hot encoding para transformar variáveis categóricas em numéricas. Também vamos separar o dataset entre treino e teste.

In [4]:
from sklearn.model_selection import train_test_split

random_seed = 0
df = pd.get_dummies(df)
X = df.iloc[:,1:].values
y = df.iloc[:,0].values

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=random_seed)

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

models = [
            ('Regressão logística',LogisticRegression(random_state=random_seed)),
            ('Árvore de classificação',DecisionTreeClassifier(random_state=random_seed)),
            ('KNN',KNeighborsClassifier()),
            ('Naive bayes',GaussianNB()),
            ('SVM',SVC(random_state=random_seed)),    
          ]

for name,model in models:
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_pred,y_test) 
    print('A acurácia do modelo ',name,' foi de ',accuracy)

A acurácia do modelo  Regressão logística  foi de  0.7982062780269058
A acurácia do modelo  Árvore de classificação  foi de  0.7847533632286996
A acurácia do modelo  KNN  foi de  0.7443946188340808
A acurácia do modelo  Naive bayes  foi de  0.7892376681614349
A acurácia do modelo  SVM  foi de  0.7533632286995515

**Agora pesquise outras bibliotecas, modelos de classificação ou funcionalidades (não estudados em sala) e aplique-os no problema. Lembre-se que quanto mais você pesquisar e treinar, mais irá aprender.**

Além desses modelos temos os ensembles, vistos na Aula 5. Uma biblioteca que tem tido muito sucesso em competições de ML é a xgboost que implementa um ensemble. Para mais informações ver o paper Chen & Guestrin (2016) que descreve esse algoritmo, disponível em https://arxiv.org/pdf/1603.02754.pdf - XGBoost: A Scalable Tree Boosting System. <br>
Além disso, há outros modelos no scikit-learn como Stochastic Gradient Descent.
__OBS: para rodar o código abaixo é necessário ter a biblioteca xgboost instalada__

In [7]:
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import SGDClassifier

models = [
            ('XGBoost',xgb.XGBClassifier(random_state=random_seed)),
            ('Random forest',RandomForestClassifier(random_state=random_seed)),
            ('Gradient Boosting',GradientBoostingClassifier(random_state=random_seed)),
            ('Ada Boosting',AdaBoostClassifier(random_state=random_seed)),
            ('Stochastic Gradient Descent',SGDClassifier(random_state=random_seed))
          ]

for name,model in models:
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_pred,y_test) 
    print('A acurácia do modelo ',name,' foi de ',accuracy)

A acurácia do modelo  XGBoost  foi de  0.8475336322869955
A acurácia do modelo  Random forest  foi de  0.8295964125560538
A acurácia do modelo  Gradient Boosting  foi de  0.8475336322869955
A acurácia do modelo  Ada Boosting  foi de  0.7982062780269058
A acurácia do modelo  Stochastic Gradient Descent  foi de  0.6233183856502242

**O que você aprendeu sobre o problema de classificação deste dataset?**

Aprendi que nem sempre os modelos mais complexos  trazem os melhores resultados. Nesse caso, um modelo simples como uma regressão logística teve um desempenho superior ao modelo SVM, por isso devemos sempre testar diferentes modelos para o dataset específico que estamos trabalhando. Além disso, a combinação de modelos através de ensembles pode ser muito poderosa para melhor a predição para um problema de ML.